h1, h2, h3, h4 {
	font-weight: 700;
}

body {
	background: none repeat scroll 0 0 #08090A;
    border-top: 6px solid #0781AA;
    color: #EEEEEE;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    font-size: 12px;
    line-height: 180%;
	height:700px;
	margin:0;
	padding:0;
}

#userInput {
	background: #FFFFFF;
}

.btn {
	min-width:200px;
	margin:20px;

}

.text {
	text-align: justify;
}

.content {
	margin: 0 auto;
	max-width: 50%;
	height:50%;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}

ins {
	text-decoration: none;
	background: #00ff00;
}

.diffLabel {
	display: none;
	font-size: 1.5em;
	text-align: center;
}

#textDiff {
	text-align: center;
	margin: 25px;
	background: #ECECEC;
	overflow: auto;
	clear: both;
}

.contentDiv {
	text-align: center;
	margin: 5px;
	background: #ECECEC;
}

.button {
	height: 20px;
	background-color: red;
	cursor: pointer;
	text-align: center;
	color: white;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
   
   
    margin-left: 5px;
    color: gray;
	background: #ffffff;
}