h1, h2, h3, h4 {
	font-weight: 700;
}

.text {
	text-align: justify;
}

.content {
	margin: 0 auto;
	max-width: 50%;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}

ins {
	text-decoration: none;
	background: #00ff00;
}

.diffLabel {
	display: none;
	font-size: 1.5em;
	text-align: center;
}

#textDiff {
	text-align: center;
	margin: 25px;
	background: #ECECEC;
	overflow: auto;
	clear: both;
}

.contentDiv {
	text-align: center;
	margin: 5px;
	background: #ECECEC;
}

.button {
	height: 20px;
	background-color: red;
	cursor: pointer;
	text-align: center;
	color: white;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 5px;
    color: gray;
}